[Unit]
Description=Keycloak Daemon for Django Project
Before=nginx.service
After=network.target

[Service]
EnvironmentFile=/home/django/django_project/.env
WorkingDirectory=/home/django/django_project
ExecStart=/home/django/keycloak/bin/kc.sh start \
  --https-certificate-file=/etc/letsencrypt/live/api.realityhack.world/fullchain.pem \
  --https-certificate-key-file=/etc/letsencrypt/live/api.realityhack.world/privkey.pem \
  --hostname api.realityhack.world \
  --optimized \
  --db-username $DJANGO_USER \
  --db-password $DJANGO_POSTGRESS_PASS
Restart=always
SyslogIdentifier=keycloak
User=django
Group=django

[Install]
WantedBy=multi-user.target
