<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="table-number-input" type="text" size="100"><br>
    <input id="table-number-submit" type="button" value="Enter">

    <script>
        document.querySelector('#table-number-input').focus();
        document.querySelector('#table-number-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#table-number-submit').click();
            }
        };

        document.querySelector('#table-number-submit').onclick = function(e) {
            var tableNumber = document.querySelector('#table-number-input').value;
            window.location.pathname = '/lighthouse/' + tableNumber + '/';
        };
    </script>
</body>
</html>
